<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline' 'unsafe-eval'; script-src * 'unsafe-inline' 'unsafe-eval'; connect-src * 'unsafe-inline'; img-src * data: blob: 'unsafe-inline'; frame-src *; style-src * 'unsafe-inline';">
    <title>SmartFileLibrary - Database Interface</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div id="query-box">
            <select id="form-dropdown" v-model="type">
                <option value="all">All</option>
                <option value="book">Book</option>
                <option value="website">Website</option>
                <option value="data">Dataset</option>
                <option value="code">Code</option>
                <option value="collection">Collection</option>
                <option value="research article">Research Article</option>
            </select>
            <input v-model="query" @keyup.enter="displayResults" type="text" id="query-input" placeholder="Enter your keyword or '*' for wildcard">
            <button @click="displayResults">🔍</button>
        </div>
        
        <div id="results-container">
            <resultentry class="result-entry" v-for="entry in results" :entry="entry" :favourites="favourites" :key="entry.id" @toggle-favourite="toggleFavourite" @display-popup="displayPopup"></resultentry>
        </div>
        
        <div id="popup" v-if="popupVisible" class="popup">
            <div id="popup-content">
                <h2>{{ popupContent.title }}</h2>
                <p>Author: {{ popupContent.author }}</p>
                <p v-if="popupContent.keywords">Keywords: {{ popupContent.keywords.join(', ') }}</p>
                <button id="cancel-button"  @click="hidePopup">Cancel</button>
            </div>
        </div>
    </div>
    <div id="disclaimer">
    	© SmartFileLibrary v0.0.1. This project is in active devlopment.
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="run.js"></script>
    <noscript>No Js...</noscript>
</body>
</html>
